.header{
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFF;
  height: 40px;
  z-index: 9;
  ul{
    li{
      display: inline-block;
      text-align: center;
      a{
        color: #000;
        line-height: 50px;
        font-weight: bold;
        font-size: 15px;
        padding: 10px 15px;
        @include border-radius(4px);
        &:hover{
          color: #FFF;
          background: $color;
        }
      }
    }
  }
  .row-logo{
    text-align: center;
  }
  .menu-top{
    background: #fff;
    height: 50px;
    margin-top: 20px;
    @include border-bottom-right-radius(15px);
    @include border-bottom-left-radius(15px);
  }
  .logo{
    width: 100px;
    height: 100px;
    @include border-radius(100%);
    background: #fff;
    display: inline-block;
    top: -30px;
    position: relative;
    text-align: center;
    line-height: 100px;
    img{
      width: 100px;
      height: 100px;
      display: inline-block;
      @include border-radius(100%);
    }
  }
}
.slider{
  margin-top: -30px;
  float: left;
  width: 100%;
}
.information{
  text-align: center;
  .info{
    width: 70%;
    display: inline-block;
    h1{
      font-size: 24px;
      font-weight: bold;
      color: $color;
    }
    h2{
      font-size: 16px;
    }
    p{
      display: inline-block;
      width: 100%;
      line-height: 22px;
    }
  }
}
p.readmore{
  text-align: center;
  margin-top: 15px;
  a{
    background: $color;
    color: #FFF;
    text-align: center;
    padding: 5px 15px;
    @include border-radius(3px);
    &:hover{
      background: #2a6f11;
    }
  }
}
.about{
  background: url('../images/about.png') top center no-repeat;
  margin-top: 30px;
  padding: 30px;
  .about-info{
    background: rgba(255,255,255,0.7);
    position: relative;
    padding: 30px;
    height: 520px;
    .about-l1{
      width: 60%;
    }
    .about-l2{
      position: absolute;
      top: 100px;
      height: 350px;
      background: #fff;
      width: 45%;
      right: 30px;
      padding: 40px;
      h2{
        font-size: 24px;
        font-weight: bold;
        color: $color;
      }
      p{
        line-height: 22px;
        text-align: justify;
        margin-bottom: 10px;
      }
    }
    .about-l3{
      position: absolute;
      bottom: 30px;
      width: 30%;
      left: 25%;
    }
  }
}

.post-type{
  background: #f0efef;
  padding-bottom: 30px;
  .type-title{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    p.title a,
    p.title{
      font-size: 22px;
      font-weight: bold;
      color: $color;
      margin-bottom: 10px;
    }
  }
  .slider-type{
    position: relative;
    .owl-controls{
      position: absolute;
      top: 342px;
      left: 0;
      .owl-buttons{
        div{
          position: absolute;
          top: 0;
          left: -60px;
          i{
            font-size: 55px;
            color: #928f8f;
          }
        }
        div.owl-next{
          right: -60px;
        }
      }
    }
    
    .item-product{
      a{
        display: inline-block;
        width: 100%;
        padding: 5px;
        img{
          border: 2px solid $color;
        }
      }
    }
  }
}

.share{
  background: #4e7533 url('../images/share-bg.png')  no-repeat;
  display: inline-block;
  width: 100%;
  .share-item{
    width: 70%;
    float: left;
    height: 400px;
    margin-top: 100px;
    p{
      color: #FFF;
      line-height: 22px;
    }
    p.share-title{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    p.readmore{
      text-align: left;
    }
  }
  .share-content{
    width: 100%;
    float: left;
    height: 500px;
    .share-content-item{
      height: 400px;
      width: 100%;
      background: rgba(255,255,255,0.8);
      margin-top: 50px;
      margin-left: -60px;
      padding: 30px;
      .share-block{
        width: 50%;
        float: left;
        padding-right: 30px;
        padding-left: 15px;
        margin-bottom: 30px;
        img{
          max-width: 100%;
          width: auto;
        }
        .title{
          text-transform: uppercase;
          color: $color;
          font-weight: bold;
        }
      }
    }
  }
}

.gallery{
  .gallery-content{
    margin-top: 50px;
    width: 60%;
    .title{
      font-size: 24px;
      color:  $color;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .readmore{
      text-align: left;
    }
    p.description{
      line-height: 22px;
    }
  }
  .flexslider{
    margin: 0;
    overflow: hidden;
  }
}

.map{
  width: 100%;
  height: 400px;
  margin-top: 30px;
}
.contact {
  display: inline-block;
  width: 100%;
  .contact-us{
    padding-right: 50px;
    div{
      display: inline-block;
      width: 100%;
    }
    .title{
      font-size: 24px;
      font-weight: bold;
      color: $color;
      margin-bottom: 10px;
    }
    .form-item{
      margin-top: 15px;
      input{
        @include border-radius(40px);
        border: 1px solid $color;
        height: 40px;
      }
      input[type='submit']{
        padding: 0 20px;
        background: $color;
        color: #FFF;
        @include border-radius(15px);
        height: 30px;
      }
      textarea{
        height: 200px;
        border: 1px solid $color;
        @include border-radius(20px);
      }
    }
  }
  .address{
    padding-left: 50px;
    margin-top: 50px;
    .item{
      display: inline-block;
      width: 100%;
      float: left;
      margin-top: 15px;
      .icon{
        width: 40px;
        height: 40px;
        border: 1px solid $color;
        display: inline-block;
        float: left;
        @include border-radius(50%);
        margin-right: 10px;
        text-align: center;
        line-height: 40px;
        color: $color;
        font-size: 22px;
      }
      .add{
        p{
          line-height: 20px;
          a{
            color: #000;
            &:hover{
              color: $color;
            }
          }
        }
      }
      .add.line{
        p{
          line-height: 40px;
        }
      }
    }
  }
  div.wpcf7 img.ajax-loader{
    display: inline-block;
    width: 16px;
  }
}
div.wpcf7 .contact img.ajax-loader{
    display: inline-block;
    width: 16px;
  }

